:root {
    --lightblue: #00bfff;
    --lightbluefade: #68f5ff;
    --navy: #000080;
    --ghostwhite: #f8f8ff;
    --gray: #888888;
}

body {
    background-color: var(--ghostwhite);
}

h1 {
    display:flex;
    justify-content: center;
    font-size: 50px;
    max-height: 130px;
    background-color: var(--lightblue);
}

h2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
}

.search-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: left;
    min-width: 25%;
    max-height:75%;
    background-color: var(--lightblue);
    padding:5px;
    border-radius: 5px;
}

.search-bar:hover {
    transition-duration: 2s;
    background-color: var(--lightbluefade);
}

.search-btn {
    background-color: var(--navy);
    color: var(--ghostwhite);
}

.search-btn:hover {
    opacity: 75%;
}

.weather-forecast {
    max-width: 75%;
    max-height: 75%;
    height: 200px;
    background-color: var(--lightblue);
    border-radius: 5px;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 5px;
}

.weather-forecast:hover {
    transition-duration: 2s;
    background-color: var(--lightbluefade);
}

.weather-forecast ul {
    list-style-type: none;
    margin: 0px 0px 0px -30px;
}

.weather-forecast li {
    margin-top: 25px;
}

.five-day-forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: var(--navy);
    max-width:100%;
    border-radius:5px;
    color: #f8f8ff;
}

.five-day-forecast ul {
    list-style-type: none;
    background-color: var(--gray);
    width: 100px;
    height: 150px;
    border-radius: 5px;
    contain: content;
    min-width:20%;
}